<!doctype html>
<html>
<head>
    <title>Hashes Registration</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; 
            /* background-color: #ffbf00; */
            background-image: linear-gradient(to right, #ffbf00, #a9914b);
}

.imgakg img{
    height: 10;
    width: 10;
    margin-left: 35%;

}

#img22{ 
    margin-left: 3%;
}
#regidiv{
    background-image: linear-gradient(to right, #e9b31496, #ffbe00);
}

#hash{
    background-image: linear-gradient(to right, #ffbf00, #a9914b);
    font-weight: bolder;
}
    

#brl{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}
.btngg{
    background-color: 	#a67c00;
    color:black;
    height:5% ;
    width:5% ;
}
    </style>
</head>
<body>
    <div class="imgakg">
        <img src="https://brlakgec.com/assets/Group1.png" width="200px" height="100px" alt="">
        <img src="https://akgec-mca.ac.in/wp-content/uploads/2020/05/Akgec_Logo.png" id="img22" width="100px" height="100px" alt="">
    </div>
    <!-- <div class="imgakg1">
        <img src="https://brlakgec.com/assets/Group1.png" width="100px" height="100px" alt="">
    </div> -->
    <div class="jumbotron text-center" id="hash" >
        <h2 id="brl">BRL presents</h2>
        <h1> Hashes</h1>
        </div>
<div class="container">

    <div class="jumbotron text-center" id="regidiv">
        <h1><span class="glyphicon glyphicon-user
            "></span> Registration</h1>

        <p>Login or Register with:</p>

        <a href="/google" class="btngg"><span class="bi bi-googl"></span> Google</a>

    </div>

</div>
</body>
</html>   