<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <form action="/is-order-complete" method="post">
        <input type="text" class="form-control" name="name" id="inputEmail3" value="<%= name %>" >
        <button type="submit" id="submit">submit</button>
    </form>
   <script>
  res.render("pages/payment",{name:req.user.displayName}) 
   </script> 
</body>
</html> -->